* {
  margin: 0px;
  color: #000046;
}

.activePage {
  background-color: #e6ebf5;
}


#root {
  background-color: #F0F5FA;
  display: grid;
  grid-template-areas: 
  "header header"
  "sideBar page";
  height: 100vh;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 100px 1fr;

}
header {
  background-color: #000046;
  display: grid;
  grid-template-columns: 1fr 80px;
  align-items: center;
  padding-left: 40px;
  grid-area: header;
}
svg {
  height: 30px;
}

.profileCircle{
  background-color: rgb(90, 242, 90);
  height: 40px;
  width: 40px;
  border-radius: 60%;
  font-size: 20px;
  display: grid;
  place-items: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
